@import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic');
*,
*:before,
:after {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Robot mono', monospace;
}
.container {
    background-color: #141313;
    width:40%;
    min-width:500px;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 60px 0;
    top:50%;
    left: 50%;
    padding: 60px 0;
    border-radius: 10px;
}
.timerDisplay{
position: relative;
width:110%;
background:linear-gradient(-135deg, #0048ce, #008bfd);
left: -5%;
padding:40px 0;
color:#ffffff;
display: flex;
align-items: center;
justify-content: space-around;
border-radius: 5px;
box-shadow: 0 0 20px rgba(0, 139,253,0,0.25);
font-size: x-large;
}
.buttons {
    width:80%;
    margin:60px auto 0 auto;
    display:flex;
    justify-content: space-around;

 

}
button#startTimer:focus {
    background: olive;
  }
button#pauseTimer:focus {
    background: olive;
    
}
button#resetTimer:focus {
    background: olive;
  }
.buttons button {
    padding: 10px 20px;;
    border:none;
    font-family:'Poppins', sans-serif;
    font-size:18px;
    border-radius:5px;
    cursor: pointer;
    outline: none;
    background:#7c7c7c2b;
    color:white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}